<div class="card">
    <div class="card-body">
      <h5 class="card-title">Bloco  <small class="text-muted" *ngIf="bloco.buscarHashAnterior() == 0">(Bloco Genesis)</small></h5>
    </div>

     <ul class="list-group list-group-flush">
	    <li class="list-group-item">
	    	<span class="">Hash</span>
	    	<br>
	    	<div class="text-truncate" [style.color]="'#' + bloco.buscarHash().substring(0,6)">
	    		<small>{{ bloco.buscarHash() }}</small>
	    	</div>

			<br>
			<span class="">Hash do bloco anterior</span>
	    	<br>

	    	<div class="text-truncate" [style.color]="'#' + bloco.buscarHashAnterior().substring(0,6)">
	    		<small>{{ bloco.buscarHashAnterior() }}</small>
	    	</div>
	    </li>

	    <li class="list-group-item">
	    	<span class="">Nonce</span><br>
	    	<div class="text-truncate text-muted">
	    		<small>{{ bloco.nonce }}</small>
	    	</div>
	    </li>

	    <li class="list-group-item">
	    	<span class="">Timestamp</span><br>
	    	<div class="text-truncate text-muted">
	    		<small>{{ bloco.timestamp }}</small>
	    	</div>
	    </li>
	  </ul>
  </div>